<ion-header>
  <ion-toolbar style="height: 2.5em;" color="secondary">
    <div class="bigFont textCenter fontBold" style="height: 2em;">{{ app.titulo}}
    </div>
  </ion-toolbar>
  <div>
    <!-- style="display:flex; justify-content:space-around" -->
    <ion-button class="botonesModo" size="outline" (click)="this.amp.toggleVR(this.amp.CALCULAR_V)"
      [color]="(this.amp.calculaV === true)?'primary':'secondary'">
      <ion-icon name="flash" size="large" [color]="(this.amp.calculaV === true)?'primary':'secondary'">
      </ion-icon>
    </ion-button>
    <ion-button class="botonesModo" size="outline" (click)="this.amp.toggleVR(this.amp.CALCULAR_R)"
      [color]="(this.amp.calculaR === true)?'primary':'secondary'">
      <ion-icon name="swap-horizontal-outline" size="large"
        [color]="(this.amp.calculaR === true)?'primary':'secondary'">
      </ion-icon>
    </ion-button>
    <ion-label color="secondary" class="bigFont fontBold noMargin paddingV10 paddingH10" style="float: right;">
      {{this.amp.impedanciaIn/1000}} K</ion-label>
  </div>
</ion-header>



<!--******************************************* trafo *********************************************-->

<ion-content *ngIf="this.amp.calculaR">

  <div class="textCenter mediumFont  noMargin paddingT10">Voltaje primario:
    <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('VI')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.voltajeInDc"
          (ngModelChange)="this.onChangeVPri()"></ion-input>
      </div>
    </ion-badge>
  </div>
  <ion-range type="range" min="1" max="1000" step="1" [color]="(this.viResult==true)? 'primary':'secondary'"
    [(ngModel)]="this.amp.voltajeInDc" (ngModelChange)="this.onChangeVPri()" class="paddingV1">
  </ion-range>

  <ion-grid class="noPadding noMargin">
    <ion-row>
      <ion-col size='8' class="noPadding noMargin">
        <div class="textCenter mediumFont  noMargin paddingT10">Impedancia Pimario:</div>
        <ion-segment [value]="this.amp.ziRange" [(ngModel)]="this.amp.ziRange"
          (ngModelChange)="this.onChangeZRangePri()">
          <ion-segment-button value="5000">
            <ion-label>5k</ion-label>
          </ion-segment-button>
          <ion-segment-button value="10000">
            <ion-label>10k</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>


      <!---------------------- Valvula --------------------->
      <ion-col size='4' class="noPadding noMargin">
        <div  class="valvulaImg" style="padding-top: 0.5em; padding-bottom: 0.5em;">
          <ion-img [hidden]="this.getImgTube3(1)" src="assets/img/el84BN3.png"></ion-img>
          <ion-img [hidden]="this.getImgTube2(1)" src="assets/img/el84BN2.png"></ion-img>
          <ion-img [hidden]="this.getImgTube1(1)" src="assets/img/el84BN1.png"></ion-img>
          <ion-img [hidden]="this.getImgTube0(1)" src="assets/img/el84BN0.png"></ion-img>
          <!-- <img src="assets/img/el84BN3.png" class="npgIcons">  -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-range type="range" min="1" [(max)]="this.amp.ziRange" step="1"
    [color]="(this.ziResult==true)? 'primary':'secondary'" [(ngModel)]="this.amp.impedanciaIn"
    (ngModelChange)="this.onChangeZPRI()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('Zi')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" (ngModelChange)="this.onChangeZPRI()"
          [(ngModel)]="this.amp.impedanciaIn"></ion-input>
      </div>
    </ion-badge>
    <!--     <ion-icon range-left name="arrow-dropdown-circle"></ion-icon>
    <ion-icon range-right name="arrow-circle"></ion-icon> -->
  </ion-range>

  <div class="textCenter mediumFont  noMargin paddingT10">Impedancia Altavoz:</div>
  <ion-segment [value]="this.amp.impedanciaOut" [(ngModel)]="this.amp.impedanciaOut" color="success"
    (ngModelChange)="this.onChangeZSEC()">
    <ion-segment-button value="4">
      <ion-label>4 Ohm</ion-label>
    </ion-segment-button>
    <ion-segment-button value="8">
      <ion-label>8 Ohm</ion-label>
    </ion-segment-button>
    <ion-segment-button value="16">
      <ion-label>16 Ohm</ion-label>
    </ion-segment-button>
    <!--     <ion-segment-button value="32">
      <ion-label>32 Ohm</ion-label>
    </ion-segment-button> -->
  </ion-segment>

  <div class="textCenter mediumFont  noMargin paddingT10"> Relacion Transformación</div>
  <ion-range type="range" min="1" max="35" snaps="false" step="1" bar-active [(ngModel)]="this.amp.relacionTrans"
    (ngModelChange)="this.onChangeRT()" class="paddingV1" [color]="(this.rtResult==true)? 'primary':'secondary'">
    <ion-badge tappable slot="end" [color]="(this.rtResult==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('RT')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.relacionTrans"
          (ngModelChange)="this.onChangeRT()"></ion-input>
      </div>
    </ion-badge>
  </ion-range>

  <div class="textCenter mediumFont  noMargin paddingT10">Espiras Primario:</div>
  <ion-range type="range" min="1" max="2000" step="1" [color]="(this.t1Result==true)? 'primary':'secondary'"
    [(ngModel)]="this.amp.turn1" (ngModelChange)="this.onChangePRI()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.t1Result==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('T1')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.turn1"
          (ngModelChange)="this.onChangePRI()"></ion-input>
      </div>
    </ion-badge>
    <!--     <ion-icon range-left name="arrow-dropdown-circle"></ion-icon>
    <ion-icon range-right name="arrow-circle"></ion-icon> -->
  </ion-range>

  <div class="textCenter mediumFont  noMargin paddingT10">Espiras Secundario</div>
  <!-- value="100" ?? -->
  <ion-range type="range" min="1" max="150" step="1" [(ngModel)]="this.amp.turn2"
    [color]="(this.t2Result==true)? 'primary':'secondary'" (ngModelChange)="this.onChangeSEC()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.t2Result==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('T2')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.turn2"
          (ngModelChange)="this.onChangeSEC()"></ion-input>
      </div>
    </ion-badge>
  </ion-range>

</ion-content>





<!--******************************************* tensiones *********************************************-->
<ion-content *ngIf="this.amp.calculaV">

  <div class="textCenter mediumFont  noMargin paddingT10">Voltaje primario:
    <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('VI')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.voltajeInDc"
          (ngModelChange)="this.onChangeVPri()"></ion-input>
      </div>
    </ion-badge>
  </div>
  <ion-range type="range" min="1" max="1000" step="1" [color]="(this.viResult==true)? 'primary':'secondary'"
    [(ngModel)]="this.amp.voltajeInDc" (ngModelChange)="this.onChangeVPri()" class="paddingV1">
  </ion-range>

  <!--  
this.amp.turn1
this.amp.relacionTrans
this.amp.turn2
-->

  <div class="textCenter mediumFont  noMargin paddingT10">Vo p-p:</div>
  <ion-range type="range" min="1" max="70" step="1" [color]="(this.ziResult==true)? 'primary':'secondary'"
    [(ngModel)]="this.amp.voltajeOutPp" (ngModelChange)="this.onChangeVopp()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('Vpp')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.voltajeOutPp"
          (ngModelChange)="this.onChangeVopp()"></ion-input>
      </div>
    </ion-badge>
  </ion-range>


  <div class="textCenter mediumFont  noMargin paddingT10">Vo rms:</div>
  <ion-range type="range" min="1" max="25" step="1" [color]="(this.ziResult==true)? 'primary':'secondary'"
    [(ngModel)]="this.amp.voltajeOutRms" (ngModelChange)="this.onChangeVorms()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('Vrms')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.voltajeOutRms"
          (ngModelChange)="this.onChangeVorms()"></ion-input>
      </div>
    </ion-badge>
  </ion-range>


  <div class="textCenter mediumFont  noMargin paddingT10">P(rms):</div>
  <ion-range type="range" min="1" max="25" step="1" [color]="(this.ziResult==true)? 'primary':'secondary'"
    [(ngModel)]="this.amp.potenciaRms" (ngModelChange)="this.onChangeP()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('Prms')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.potenciaRms"
          (ngModelChange)="this.onChangeP()"></ion-input>
      </div>
    </ion-badge>
  </ion-range>

</ion-content>




<!--  

  <ion-item>
    <ion-checkbox slot="start" checked></ion-checkbox>
    <ion-label>Checkbox</ion-label>
  </ion-item>

  <div>
    <ion-button (click)="calcular()" shape="round" color="warning">clientes</ion-button>
  </div> -->




<!-- <ion-buttons slot="start">
  <ion-back-button defaultHref="home"></ion-back-button>
</ion-buttons> -->