.badgeXX {
    width: 1.8em;
}


.badgeXXX {
    width: 2.7em;
}

.badgeXXXX {
    width: 3.6em;
    height: 1.8em;
}

.valvulaImg {
    position: absolute;
    right: 1.8em;
    top:  -1.5em;
    height: 2.5em;
    width: 2em;

}