<ion-header>
  <ion-toolbar style="height: 2.5em;" color="secondary">
    <div class="bigFont textCenter fontBold" style="height: 2em;">{{ app.titulo}}
    </div>
  </ion-toolbar>
  <div>
    <!-- style="display:flex; justify-content:space-around" -->
    <ion-button class="botonesModo" size="outline" (click)="this.togglePageMode(this.CALCULAR_V)"
      [color]="( this.modo === this.CALCULAR_V)?'primary':'secondary'">
      <ion-icon name="flash" size="large" [color]="(this.modo === this.CALCULAR_V)?'primary':'secondary'">
      </ion-icon>
    </ion-button>
    <ion-button class="botonesModo" size="outline" (click)="this.togglePageMode(this.CALCULAR_R)"
      [color]="(this.modo === this.CALCULAR_R)?'primary':'secondary'">
      <ion-icon name="swap-horizontal-outline" size="large"
        [color]="(this.modo === this.CALCULAR_R)?'primary':'secondary'">
      </ion-icon>
    </ion-button>
    <ion-label color="secondary" class="bigFont fontBold noMargin paddingV10 paddingH10" style="float: right;">
      {{this.getZPriTrunc()}} K : {{this.amp.impedanciaOut}}</ion-label>
    <ion-label color="secondary" class="bigFont fontBold noMargin paddingV10 paddingH10" style="float: right;">
      {{this.getIPriTrunc()}} mA</ion-label>

  </div>
</ion-header>


<!--******************************************* tensiones *********************************************-->
<ion-content *ngIf="modo === this.CALCULAR_V">

  <div style="height: 1em;"></div>

  <div style="display: block; width: 100%;">
    <div class="graficImg">
      <img style="bottom: 0em;" src="assets/img/el84_600x400.png">
      <canvas class="grafic" baseChart [datasets]="chartData" [options]="chartOptions" [colors]="chartColors"
        [legend]="showLegend" [chartType]="chartType"  >
      </canvas>
    </div>
  </div>

  <div class="paddingH5 mediumFont paddingH5 noMargin paddingT10">Voltaje primario:
    <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('VI')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.voltajeInTns"
          (ngModelChange)="this.onChangeVPri()"></ion-input>
      </div>
    </ion-badge>
  </div>
  <ion-range type="range" min="1" max="1000" step="1" [color]="(this.viResult==true)? 'primary':'secondary'"
    [(ngModel)]="this.amp.voltajeInTns" (ngModelChange)="this.onChangeVPri()" class="paddingV1">
  </ion-range>

  <!--  
this.amp.turn1
this.amp.relacionTrans
this.amp.turn2
-->

  <div class="paddingH5 mediumFont  noMargin paddingT10">Vo p-p:</div>
  <ion-range type="range" min="1" max="70" step="1" [color]="(this.ziResult==true)? 'primary':'secondary'"
    [(ngModel)]="this.amp.voltajeOutPp" (ngModelChange)="this.onChangeVopp()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('Vpp')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.voltajeOutPp"
          (ngModelChange)="this.onChangeVopp()"></ion-input>
      </div>
    </ion-badge>
  </ion-range>


  <div class="paddingH5 mediumFont  noMargin paddingT10">Vo rms:</div>
  <ion-range type="range" min="1" max="25" step="1" [color]="(this.ziResult==true)? 'primary':'secondary'"
    [(ngModel)]="this.amp.voltajeOutRms" (ngModelChange)="this.onChangeVorms()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('Vrms')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.voltajeOutRms"
          (ngModelChange)="this.onChangeVorms()"></ion-input>
      </div>
    </ion-badge>
  </ion-range>


  <div class="paddingH5 mediumFont  noMargin paddingT10">P(rms):</div>
  <ion-range type="range" min="1" max="25" step="1" [color]="(this.ziResult==true)? 'primary':'secondary'"
    [(ngModel)]="this.amp.potenciaRms" (ngModelChange)="this.onChangeP()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('Prms')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.potenciaRms"
          (ngModelChange)="this.onChangeP()"></ion-input>
      </div>
    </ion-badge>
  </ion-range>

</ion-content>


<!--******************************************* trafo *********************************************-->

<ion-content *ngIf="modo === this.CALCULAR_R">

  <div style="height: 2em;"></div>

  <!-- Impedancia Pimario: -->
  <ion-grid class="noPadding noMargin">
    <ion-row>
      <ion-col size='8' class="noPadding noMargin">
        <div class="mediumFont  noMargin paddingT10" style="padding-left: 1.25em;">Impedancia Pimario:</div>
        <ion-segment [value]="this.amp.ziRange" [(ngModel)]="this.amp.ziRange" style="padding-left: 0.88em;"
          (ngModelChange)="this.onChangeZRangePri()">
          <ion-segment-button value="5000">
            <ion-label>5k</ion-label>
          </ion-segment-button>
          <ion-segment-button value="10000">
            <ion-label>10k</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>


      <!---------------------- Valvula --------------------->
      <ion-col size='4' class="noPadding noMargin">
        <div class="valvulaImg" style="padding-top: 0.5em; padding-bottom: 0.5em; ">
          <img [hidden]="this.getImgTube3(1)" src="assets/img/el84BN3.png">
          <img [hidden]="this.getImgTube2(1)" src="assets/img/el84BN2.png">
          <img [hidden]="this.getImgTube1(1)" src="assets/img/el84BN1.png">
          <img [hidden]="this.getImgTube0(1)" src="assets/img/el84BN0.png">
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-range type="range" min="1" [(max)]="this.amp.ziRange" step="10"
    [color]="(this.ziResult==true)? 'primary':'secondary'" [(ngModel)]="this.amp.impedanciaIn"
    (ngModelChange)="this.onChangeZPRI()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('Zi')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" (ngModelChange)="this.onChangeZPRI()"
          [(ngModel)]="this.amp.impedanciaIn"></ion-input>
      </div>
    </ion-badge>
    <!--     <ion-icon range-left name="arrow-dropdown-circle"></ion-icon>
    <ion-icon range-right name="arrow-circle"></ion-icon> -->
  </ion-range>

  <div class="mediumFont noMargin paddingT10" style="padding-left: 1.25em;">Altavoz:</div>
  <ion-segment [value]="this.amp.impedanciaOut" [(ngModel)]="this.amp.impedanciaOut" color="success"
    (ngModelChange)="this.onChangeZSEC()" style="padding-left: 0.88em; padding-right: 0.88em;">
    <ion-segment-button value="4">
      <ion-label>4 Ohm</ion-label>
    </ion-segment-button>
    <ion-segment-button value="8">
      <ion-label>8 Ohm</ion-label>
    </ion-segment-button>
    <ion-segment-button value="16">
      <ion-label>16 Ohm</ion-label>
    </ion-segment-button>
    <!--     <ion-segment-button value="32">
      <ion-label>32 Ohm</ion-label>
    </ion-segment-button> -->
  </ion-segment>

  <div class="mediumFont  noMargin paddingT10" style="padding-left: 1.25em;"> Relacion Transformador</div>
  <ion-range type="range" min="1" max="35" snaps="false" step="1" bar-active [(ngModel)]="this.amp.relacionTrans"
    (ngModelChange)="this.onChangeRT()" class="paddingV1" [color]="(this.rtResult==true)? 'primary':'secondary'">
    <ion-badge tappable slot="end" [color]="(this.rtResult==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('RT')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.relacionTrans"
          (ngModelChange)="this.onChangeRT()"></ion-input>
      </div>
    </ion-badge>
  </ion-range>

  <div class="mediumFont  noMargin paddingT10" style="padding-left: 1.25em;">Espiras Primario:</div>
  <ion-range type="range" min="1" max="2000" step="1" [color]="(this.t1Result==true)? 'primary':'secondary'"
    [(ngModel)]="this.amp.turn1" (ngModelChange)="this.onChangePRI()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.t1Result==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('T1')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.turn1"
          (ngModelChange)="this.onChangePRI()"></ion-input>
      </div>
    </ion-badge>
    <!--     <ion-icon range-left name="arrow-dropdown-circle"></ion-icon>
    <ion-icon range-right name="arrow-circle"></ion-icon> -->
  </ion-range>

  <div class="mediumFont  noMargin paddingT10" style="padding-left: 1.25em;">Espiras Secundario</div>
  <!-- value="100" ?? -->
  <ion-range type="range" min="1" max="150" step="1" [(ngModel)]="this.amp.turn2"
    [color]="(this.t2Result==true)? 'primary':'secondary'" (ngModelChange)="this.onChangeSEC()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.t2Result==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('T2')">
      <div class="inputBadge">
        <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.turn2"
          (ngModelChange)="this.onChangeSEC()"></ion-input>
      </div>
    </ion-badge>
  </ion-range>

  <div style="height: 1em;"></div>

</ion-content>



<ion-footer>

  <!-- Voltaje primario: -->

  <div class="columnasFlex">
    <ion-label color="dark" class="itemFlex  mediumFont  noMargin textCenter">V primario:</ion-label>
    <ion-label color="dark" class="itemFlex  mediumFont  noMargin textCenter">Vo p-p:</ion-label>
    <ion-label color="dark" class="itemFlex  mediumFont  noMargin textCenter">Vo rms:</ion-label>
    <ion-label color="dark" class="itemFlex  mediumFont  noMargin textCenter">P(rms):</ion-label>
  </div>

  <div class="columnasFlex">
    <div class="itemFlex paddingV10 paddingH10">
      <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeFlex"
        (click)="badgeSelected('VI')">
        <div class="inputBadgefooter">
          <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.voltajeInTns"
            (ngModelChange)="this.onChangeVPri()"></ion-input>
        </div>
      </ion-badge>
    </div>
    <div class="itemFlex paddingV10 paddingH10">
      <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeFlex"
        (click)="badgeSelected('Vpp')">
        <div class="inputBadgefooter">
          <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.voltajeOutPp"
            (ngModelChange)="this.onChangeVopp()"></ion-input>
        </div>
      </ion-badge>
    </div>
    <div class="itemFlex paddingV10 paddingH10">
      <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeFlex"
        (click)="badgeSelected('Vrms')">
        <div class="inputBadgefooter">
          <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.voltajeOutRms"
            (ngModelChange)="this.onChangeVorms()"></ion-input>
        </div>
      </ion-badge>
    </div>
    <div class="itemFlex paddingV10 paddingH10">
      <ion-badge tappable slot="end" [color]="(this.ziResult==true)? 'primary':'success'" class="badgeFlex"
        (click)="badgeSelected('Prms')">
        <div class="inputBadgefooter">
          <ion-input type="number" class="noPadding noMargin bigFont" [(ngModel)]="this.amp.potenciaRms"
            (ngModelChange)="this.onChangeP()"></ion-input>
        </div>
      </ion-badge>
    </div>
  </div>


</ion-footer>








<!--  

  <ion-item>
    <ion-checkbox slot="start" checked></ion-checkbox>
    <ion-label>Checkbox</ion-label>
  </ion-item>

  <div>
    <ion-button (click)="calcular()" shape="round" color="warning">clientes</ion-button>
  </div> -->




<!-- <ion-buttons slot="start">
  <ion-back-button defaultHref="home"></ion-back-button>
</ion-buttons> -->