<ion-header>
  <ion-toolbar style="height: 2.5em;" color="secondary">
    <div class="bigFont textCenter fontBold" style="height: 2em;">{{ app.titulo}}
    </div>
  </ion-toolbar>
  <div>
    <!-- style="display:flex; justify-content:space-around" -->
    <ion-button class="botonesModo" size="outline" (click)="this.amp.toggleVR(this.amp.CALCULAR_V)"
      [color]="(this.amp.calculaV === true)?'primary':'secondary'">
      <ion-icon name="flash" size="large" [color]="(this.amp.calculaV === true)?'primary':'secondary'">
      </ion-icon>
    </ion-button>
    <ion-button class="botonesModo" size="outline" (click)="this.amp.toggleVR(this.amp.CALCULAR_R)"
      [color]="(this.amp.calculaR === true)?'primary':'secondary'">
      <ion-icon name="swap-horizontal-outline" size="large"
        [color]="(this.amp.calculaR === true)?'primary':'secondary'">
      </ion-icon>
    </ion-button>
  </div>
</ion-header>


<ion-content *ngIf="this.amp.calculaV">

  <!--******************************************* tensiones *********************************************-->
  <ion-row class="paddingH10 paddingV5">
    <ion-col>
      <ion-label>V primario: </ion-label>
      <ion-input type="number" [(ngModel)]="this.amp.voltajeInDc"
        (ngModelChange)="this.amp.setV(this.amp.VI_PICO,this.amp.voltajeInDc)" clear-on-edit="true">
      </ion-input>
      <ion-toggle #tgVp slot="end" checked></ion-toggle>
    </ion-col>
  </ion-row>

  <ion-row class="paddingH10 paddingV5">
    <ion-col>
      <ion-label>V p-p: </ion-label>
      <ion-input type="number" [(ngModel)]="this.amp.voltajeOutPp"
        (ngModelChange)="this.amp.setV(this.amp.VO_PICO_PICO,this.amp.voltajeOutPp)" clear-on-edit="true">
      </ion-input>
    </ion-col>
    <ion-col>
      <ion-label>V rms: </ion-label>
      <ion-input type="number" [(ngModel)]="this.amp.voltajeOutRms"
        (ngModelChange)="this.amp.setV(this.amp.VO_RNS,this.amp.voltajeOutRms)" clear-on-edit="true">
      </ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="paddingH5 paddingV2">
    <ion-col>
      <ion-label>Zi: </ion-label>
      <ion-input type="number" [(ngModel)]="this.amp.impedanciaIn" (ngModelChange)="this.onChangeZI()"
        clear-on-edit="true">
      </ion-input>
    </ion-col>
    <ion-col>
      <ion-label>Zo: </ion-label>
      <ion-input type="number" [(ngModel)]="this.amp.impedanciaOut" (ngModelChange)="this.onChangeZO()"
        clear-on-edit="true">
      </ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="paddingH5 paddingV2">
    <ion-col>
      <ion-label>RT: </ion-label>
      <ion-input type="number" [(ngModel)]="this.amp.relacionTrans" (ngModelChange)="this.onChangeRT()"
        clear-on-edit="true">
      </ion-input>
      <ion-toggle #tgRt slot="end" checked></ion-toggle>
    </ion-col>
  </ion-row>

  <ion-row class="paddingH5 paddingV2">
    <ion-col>
      <ion-label>esp.P: </ion-label>
      <ion-input type="number" [(ngModel)]="this.amp.turn1" (ngModelChange)="this.onChangePRI()" clear-on-edit="true">
      </ion-input>
    </ion-col>
    <ion-col>
      <ion-label>esp.S: </ion-label>
      <ion-input type="number" [(ngModel)]="this.amp.turn2" (ngModelChange)="this.onChangeSEC()" clear-on-edit="true">
      </ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="paddingH5 paddingV2">
    <ion-col>
      <ion-label>P(rms): </ion-label>
      <ion-input type="number" [(ngModel)]="this.amp.potenciaRms" (ngModelChange)="this.onChangeP()"
        clear-on-edit="true">
      </ion-input>
    </ion-col>
  </ion-row>

</ion-content>



<!--******************************************* trafo *********************************************-->

<ion-content *ngIf="this.amp.calculaR">

  <div class="textCenter mediumFont fontBold noMargin paddingT10">Impedancia Altavoz:</div>
  <ion-segment [value]="this.amp.impedanciaOut" [(ngModel)]="this.amp.impedanciaOut" (ngModelChange)="this.onChangeZSEC()">
    <ion-segment-button value="4">
      <ion-label>4 Ohm</ion-label>
    </ion-segment-button>
    <ion-segment-button value="8">
      <ion-label>8 Ohm</ion-label>
    </ion-segment-button>
    <ion-segment-button value="16">
      <ion-label>16 Ohm</ion-label>
    </ion-segment-button>
  </ion-segment>




  <div class="textCenter mediumFont fontBold noMargin paddingT10">Impedancia Primario:</div>
  <ion-range type="range" min="1" max="10000" step="10" [color]="(this.ziSelect==true)? 'primary':'secondary'"
    [(ngModel)]="this.amp.impedanciaIn" (ngModelChange)="this.onChangeZPRI()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.ziSelect==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('Zi')">{{this.amp.impedanciaIn}}</ion-badge>
    <!--     <ion-icon range-left name="arrow-dropdown-circle"></ion-icon>
    <ion-icon range-right name="arrow-circle"></ion-icon> -->
  </ion-range>


  <div class="textCenter mediumFont fontbold noMargin paddingT10"> Relacion Transformación</div>
  <ion-range type="range" min="1" max="40" snaps="false" bar-active [(ngModel)]="this.amp.relacionTrans"
    (ngModelChange)="this.onChangeRT()" class="paddingV1" [color]="(this.rtSelect==true)? 'primary':'secondary'">
    <ion-badge tappable slot="end" [color]="(this.rtSelect==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('RT')">{{this.amp.relacionTrans}}</ion-badge>
  </ion-range>

  <div class="textCenter mediumFont fontBold noMargin paddingT10">Espiras Primario:</div>
  <ion-range type="range" min="1" max="2000" step="1" [color]="(this.t1Select==true)? 'primary':'secondary'"
    [(ngModel)]="this.amp.turn1" (ngModelChange)="this.onChangePRI()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.t1Select==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('T1')">{{this.amp.turn1}}</ion-badge>
    <!--     <ion-icon range-left name="arrow-dropdown-circle"></ion-icon>
    <ion-icon range-right name="arrow-circle"></ion-icon> -->
  </ion-range>
  

  <div class="textCenter mediumFont smallFont noMargin paddingT10">Espiras Secundario</div>
  <!-- value="100" ?? -->
  <ion-range type="range" min="1" max="150"step="1" [(ngModel)]="this.amp.turn2" 
    [color]="(this.t2Select==true)? 'primary':'secondary'" 
    (ngModelChange)="this.onChangeSEC()" class="paddingV1">
    <ion-badge tappable slot="end" [color]="(this.t2Select==true)? 'primary':'success'" class="badgeXXXX"
      (click)="badgeSelected('T2')">{{this.amp.turn2}}</ion-badge>
  </ion-range>





</ion-content>

<!--  

  <ion-item>
    <ion-checkbox slot="start" checked></ion-checkbox>
    <ion-label>Checkbox</ion-label>
  </ion-item>

  <div>
    <ion-button (click)="calcular()" shape="round" color="warning">clientes</ion-button>
  </div> -->




<!-- <ion-buttons slot="start">
  <ion-back-button defaultHref="home"></ion-back-button>
</ion-buttons> -->